.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app {
  padding: 30px;
  background-color: black;
  color:white;
  height:100%;
}
.listsParent{
  margin-top:1rem;
}
button{
  background: #236380;
  padding: 0.2rem 0.5rem;
  color: white;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}
.buttonPrnt{
  display: inline-block;
  margin-left: 1rem;
}
ul{
  padding: 1rem;
}
.listCount,.subListCount{
  color:#236380;
  font-weight:bold;
}
.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
}
.hide{
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
